@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Doodle";
  src: url("/fonts/GourmetEatery-V4qdw.otf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
}

html#no-scroll {
  overflow: hidden;
}
